@charset "UTF-8";

@font-face {
    font-family: 'Koenigsegg';
    src: url(../fontes/neographik-mt-std.otf) format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:ital,wght@1,500;1,800&family=Playpen+Sans:wght@100&display=swap');

:root{
    --color1: #006AA7;
    --color2: #FECC00;
    --color3: #95b3c593;
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{ 
    background-color:var(--color3);

}
header{
    background-image: linear-gradient(to top,var(--color2),var(--color1) 60%);
    
    
}
header > h1{
    font-family: 'koenigsegg';
    font-size: 60px;
    padding: 60px;
    text-shadow: 2px 5px 10px black;
    color: whitesmoke;
}
header > p{
    margin-left: 100px;
    font-family: 'Playpen Sans', cursive;
    padding-bottom: 30px;
    padding-top: -20px;

    
}
main p{
    text-align: justify;
    margin: 15px 10px;
    text-indent: 30px;
    line-height: 25px;
}
main h2{
    padding: 20px;
    
}
header > picture > img{
            float: right; 
            margin-right: 10px;
            margin-top: -180px;
            width: 200px;
            
}
nav{
    background-color: var(--color2);
    height: 80px;
    padding-left: 100px;    
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589);
}
nav > a{
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    text-shadow: 0px 3px 3px black;
}
nav > a:hover{
    background-color:#bb960186;
    border-radius: 10px;
}
main{
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 10px 10px black;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
aside{
    background-color: var(--color1);
    box-shadow: 2px 5px 10px black;
    border-radius: 10px;
    
}
aside h2{
    text-shadow: 2px 5px 10px black;
    color: whitesmoke;
    font-size: 30px;
    
}
aside ul{
    padding: 25px;
    text-shadow: 2px 5px 10px black;
    color: whitesmoke;
    font-weight: bold;
}
aside > ul > li > a{
    color: black
}
main a{
    text-decoration: none;
    color: #003858;
    font-weight: bold;
}
main a:hover{
    padding: 2px;
    background-color: var(--color2);
    border-radius: 5px;
}
footer{
    background-color: #003858;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 70px;
}
footer > a{
    color:var(--color2);
    text-decoration: none;
}

h2{
    font-family: 'koenigsegg';

}
