@charset "UTF-8";

@font-face {
    font-family: 'Koenigsegg';
    src: url(../fontes/neographik-mt-std.otf) format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:ital,wght@1,500;1,800&family=Playpen+Sans:wght@100&display=swap');

:root{
    --color1: #006AA7;
    --color2: #FECC00;
    --color3: #95b3c593;
    
}

*{
    margin: 0px;
    padding: 0px;
}

body{ 
    background-color:var(--color3);

}
header{
    background-image: linear-gradient(to top,var(--color2),var(--color1) 60%);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.589);
    
    
}
header > h1{
    font-family: 'koenigsegg';
    font-size: 60px;
    padding: 60px;
    text-shadow: 2px 5px 10px black;
    color: whitesmoke;
}

main p{
    text-align: justify;
    margin: 15px 10px;
    text-indent: 30px;
    line-height: 25px;
}
main h2{
    padding: 20px;
    
}
main > picture > img{
           
            display: inline-block;
            width: 100%;         
}
main a:hover{
    padding: 2px;
    background-color: var(--color2);
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 10px 10px black;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

main a{
    text-decoration: none;
    color: #003858;
    font-weight: bold;
}
.fantasma{
    display: flex;
    text-indent: 0px;
}
footer{
    background-color: #003858;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 70px;
}
footer > a{
    color:var(--color2);
    text-decoration: none;
}

h2{
    font-family: 'koenigsegg';

}
.nurburgring{
    display: flex;
}
.nurburgring > img{
    width: 700px;
}